/* Library styles */

.site-main {
    padding-top: 20px;
    padding-bottom: 20px;
}

._lib-box {
    margin: 20px 0;
    padding: 10px 20px;
    border: 1px dotted silver;
}

._lib-code {
    margin: 0;
}

pre[class*="language-"] {
    margin: 0;
    padding: 0;
}

code[class*="language-"] {
    padding: 0;
}

._code {
    position: relative;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
}

._code-hidden {
    display: none;
}

.show ._code-hidden {
    display: block;
}

.show ._code-visible {
    display: none;
}

._code button {
    display: block;
    width: 120px;
    margin-left: auto;
    margin-bottom: -1px;
}

.show button {
    position: absolute;
    top: 0;
    right: 0;
}


.lt-ie8 ._code button,
.ie8 ._code button {
    display: none;
}